*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    background-color: #1ABC9C;
    height:85vh;
}
.line{
    height: 4px;
    width: 80px;
    background-color:#ffff;
}